.prod_grid__link{
  margin-bottom: 20px;
  height: 100%;
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  background: rgba(255,255,255,0);
  color: #999;
  border: 1px solid rgba(120,121,122,.15);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  border-radius: 20px;

  &::before{
    content: '';
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: url(../img/search.png) 50% no-repeat;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &::after{
    content: '';
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: #000;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &:hover::after,
  &:hover::before{
    display: block;
  }
}
.prod_grid__wimg{
  text-align: center;
  position: relative;
}
.prod_grid__image{
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height:200px;
  object-fit: contain;
}
.page_banner__action{
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}
.page_banner__action_hit{
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #0d8a17;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 20px;
}
.prod_grid__name{
  color: #32b9aa;
  text-align: center;
  font-size: 21px;
  margin: 8px 0;
}
.prod_grid__info{
  color: #999;
  text-align: center;
  font-size: 14px;
}
.prod_grid__price--green{
  color: #41b932;
  font-size: 24px;
  font-weight: bold;
}
.prod_grid__date{
  padding: 0 20px;
  font-size: 12px;
}